@page
@model FizzBuzzDatabase.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Game Details</h1>

<div>
    <h3>Game Name: @Model.Game.GameName</h3>
    <p><strong>Author:</strong> @Model.Game.Author</p>
    <p><strong>Min Range:</strong> @Model.Game.MinRange</p>
    <p><strong>Max Range:</strong> @Model.Game.MaxRange</p>
    <p><strong>Timer:</strong> @Model.Game.Timer</p>
</div>

<a asp-page="Index" class="btn btn-primary">Back to List</a>